body {
  background-color: #444444;
  color:#eeeeee;
}

.container {
  width:600px;
  border:#777777 5px solid;
  margin-left:auto;
  margin-right:auto;
  padding: 20px 50px 20px 50px;
  line-height: 1.5;  font-size: 13pt
}

.txt-center {
  text-align:center;
}

.txt-italic {
  font-style: italic;
}

.txt-gray {
  color:#959595
}

.nav li {
  list-style:none;
  display:inline;
}

.nav ul {
  padding:0;
}

a {
  color:#3ccb9a
}

.divider{
  border-top: #999999 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
    float: right;
    margin: 0 0 20px 20px;
    border:#999999 1px solid;
    padding: 5px;
}

.txt-bold {
  font-weight: bold;
}

.txt-small {
  font-size: small;
}

.p-space {
  margin-bottom: 30px;
}

.l-space {
  letter-spacing: 0.2em;
}

.resume-list {
  list-style-type: square;
}
